a { text-decoration:none; }

.button {
  padding: 1px 10px; 
  min-width:30px; 
  border-radius: 5px; 
  text-align:center; 
  margin-right:10px; 
  margin-bottom:10px; 
  position:relative; 
  font-size:20px;
  color: #ffffff; }

.button.save-button { background:#669966; }

.button.add-item-button { background:#666699; }
.button.add-exit-button { background:#666699; }

.button.delete-item-button { background:#996666; }
.button.delete-exit-button { background:#996666; }
