a { text-decoration:none; }

.button {
  padding: 1px 10px; 
  min-width:30px; 
  border-radius: 5px; 
  text-align:center; 
  margin-right:10px; 
  margin-bottom:10px; 
  position:relative; 
  font-size:20px;
  color: #ffffff; }

.button.save-button { background:#669966; }

.button.add-item-button { background:#666699; }
.button.add-exit-button { background:#666699; }

.button.delete-item-button { background:#996666; }
.button.delete-exit-button { background:#996666; }

.button.import-button { background:#669999; }

#exit-properties DIV {
  margin-top: 1px;
  border: 1px solid red;
}

#item-properties DIV {
  margin-top: 1px;
  border: 1px solid blue;
}

#canvas-and-serialisation label {
  display: inline;
  background: #732440;
  color: #ffffff;
  font-size: 18px;
  vertical-align: top;
}

#canvas-and-serialisation textarea {
  background: #999999;
  color: #ffffff;
  height: 400px;
  width: 400px;
  vertical-align: top;
}
